body {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#app {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#app h1 {
    color: #231f20;
}

img {
    height: 150px;
}

button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #41b883;
}